<style>
.card-body .btn-group {
  display: flex;
  justify-content: flex-end;
  margin-right: 2px;
}
</style>

<div class="col-md-4">
    <div class="card mb-4 animated fadeInRight">
        <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text">Date: <%= event.date %></p>
            <p class="card-text">Location: <%= event.location %></p>
            <p class="card-text">Description: <%= event.description %></p>
            <div class="btn-group">
                <a href="/events/<%= event._id %>" class="btn btn-info">Details</a>
                <% if (event.isOrganizer || isAdmin) { %>
                <a href="/events/<%= event._id %>/update" class="btn btn-info">Edit</a>
                <form class="btn-group" action="/events/<%= event._id %>/delete" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>